setuptools
Django
git+https://github.com/musicmetadata/edi#egg=music_metadata_edi
git+https://github.com/musicmetadata/territories#egg=music_metadata_territories
git+ssh://git@github.com/matijakolaric/cwr2.git#egg=music_metadata_cwr2
whitenoise
gunicorn
openpyxl
